/* Styling for navigation menu */
nav {
    background-color: #333;
    text-align: left; /* Shift the navigation bar to the left */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: white;           /*navigation bar */
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
   
  }
  
  nav ul li.current a {
    background-color: #555;
  }
  
  .logo{
    text-align: center;
    color:black;    
             /*online examination System*/
  
  
  }
 
  
  
  .col-md-6{
    border-style: groove;
    border-color: gray;
    background-image: url("../img/background.jpg");
    border-width: 10px;
    left: 40px;
    
    height: 100%;
    width: 90%;
    position: relative;
    
    
  }
 
  .col-lg-6{
    text-align: center;
    background-color:skyblue;
    font-size: 250%;
    
    
  }
  .log{
    text-align:right ;
    color: red;   
    background-color:skyblue;          /*signout*/
  }
  .header{
    text-align:right;
    background-color: skyblue;
  }
  #row{
    background-color:skyblue;
    width: 100%;
    
    
  }
  .container{
   
    border: 1px solid #ddd;
    height: 100%;
    width: 100%;
  }
  
  
  /* Container styles */
  .container {
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Table styles */
  .container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .container th, .container td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .container th {
    background-color: #007bff;
    
    
  }
  
  .container tbody tr:hover {
    background-color: white;
    
  
  }
  
  
  
  .container tbody td:first-child,
  .container thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .container tbody td:last-child,
  .container thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .input-md {
    width: 50%;
    text-align: left;
    position: relative;
    border-radius: 5px; /* Add border radius */
    box-sizing: border-box; /* Include padding and border in the width */
    font-size: 16px; /* Set the font size */
    color: black; /* Set the text color */
    left: 25%;
    margin-bottom: 5px;

  }

   .btn-primary{
    color: black;
    font-size: larger ;    
    cursor: pointer;
    background-color: gray;
   }
   .btn-primary:hover{
    color: black;
    background-color: green;
   }

   #t{
    resize: none;
    
   }
   #t1{
    resize: none;
   }
   
   .form-control{
    width: 50%;
    text-align: left;
    position: relative;
    border-radius: 5px; /* Add border radius */
    box-sizing: border-box; /* Include padding and border in the width */
    font-size: 16px; /* Set the font size */
    color: black; /* Set the text color */
    left: 25%;
    margin-bottom: 5px;

   }
